**
!package.json
!apps/
!apps/cli/
!apps/cli/package.json
!apps/cli/bin.mjs
!apps/cli/index.js
!apps/cli/src/
!apps/cli/src/**
!packages/
!packages/**
**/node_modules
**/.git
**/.env*
**/*test*
**/*spec*
**/.nexus
**/*.log
**/*.tgz
**/*.pem
**/*.key
